html, body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

main * {
    /* border: black solid 2px; */
}

#gameboard {
    width: 70vw;
    height: 46vw;
    margin: 0 auto;
    position: relative;
    border: black solid 2px;
    border-radius: 10px;
    background: darkolivegreen;

}

#totalbet {
    color: white;
    position: absolute;
    left: 34.5%;
    top: 12%;
}
#dealer {
    position: absolute;
    height:14%;
    width: 28vw;
    border: black solid 2px;
    border-radius: 5px;
    left: 29%;
    top: 35%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.dealercards{
    height: 100%;
    width: 16%;
    border: black solid 1px;
    background: rgba(199, 199, 199, 0.7);
}
.player {
    position: absolute;
    height: 22%;
    width: 12vw;
    background: rgb(211, 210, 210);
    border: black solid 1px;
    border-radius: 5px;
}
.playercards {
    height: 80%;
    border: black solid 1px;
    text-align: center;
}
.playercards img {
    width: 48%;
    display: inline-block;
    margin: auto;
}

#player0 {
    top: 1%;
    right: 12%;

}
#player1 {
    top: 40%;
    right: 3%;
}
#player2 {
    top: 55%;
    left: 39%;

}
#player3 {
    top: 40%;
    left: 3%;
    
}
#player4 {
    top: 1%;
    left: 10%;
}

.ctlbuttons {
    position: absolute;
    bottom: 2.5%;
    left: 28.5%;
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

#startbtn {
    font-size: 1.5vw;
    padding: 0.5vw 1.2vw;
    border-radius: 10px;
    /* display: none; */
}
#betctldiv {
    display: none;
}
#betctldiv button {
    font-size: 1.5vw;
    padding: 0.5vw 1.2vw;
    border-radius: 10px;
    margin: auto 0.8vw;
}
#resetctldiv {
    display: none;
}
#resetctldiv button {
    font-size: 1.5vw;
    padding: 0.5vw 1.2vw;
    border-radius: 10px;
    margin: auto 0.8vw;
}